<!--<div class="overview">-->
    <div class="invest">
        <div class="overview__icon">
            <img src="/img/invest.png" alt="" class="icon">
        </div>
        <div class="overview__text">
            <div class="price">
                $32300
            </div>
            <div class="overview_desc">
                Total Invest
            </div>
        </div>
    </div>

    <div class="expence">
        <div class="overview__icon">
            <img src="/img/expence.png" alt="" class="icon">
        </div>
        <div class="overview__text">
            <div class="price">
                $16500
            </div>
            <div class="overview_desc">
                Total Expence
            </div>
        </div>
    </div>
    <div class="revenue">
        <div class="overview__icon">
            <img src="/img/revenue.png" alt="" class="icon">
        </div>
        <div class="overview__text">
            <div class="price">
                $22700
            </div>
            <div class="overview_desc">
                Total Revenue
            </div>
        </div>
    </div>
    <div class="balance">
        <div class="overview__icon">
            <img src="/img/balance.png" alt="" class="icon">
        </div>
        <div class="overview__text">
            <div class="price">
                $66400
            </div>
            <div class="overview_desc">
                Total Balance
            </div>
        </div>
    </div>
<!--
</div>-->
