<div class="portfolio">
    <div class="portfolio__head">
        <div class="portfolio__title">
            PORTFOLIO - AAPL
            <div class="triangle"></div>
        </div>
        <div class="portfolio__date">
            <material-datepicker
                    [(date)]="dateFrom"
                    (onSelect)="onSelectFrom($event)"
                    [rangeStart]="dateStart"
                    [rangeEnd]="dateEnd"
            ></material-datepicker>
            <div class="to">
                to
            </div>
            <material-datepicker
                    [(date)]="dateTo"
                    (onSelect)="onSelectTo($event)"
                    [rangeStart]="dateStart"
                    [rangeEnd]="dateEnd"
            ></material-datepicker>
        </div>
    </div>
    <chart
    ></chart>
</div>