<div class="portfolio">
    <div class="portfolio__head">
        <div class="portfolio__title">
            PORTFOLIO - AAPL
            <div class="triangle"></div>
        </div>
        <div class="portfolio__date">
            <div class="date date_left">
                30/12/2014
                <div class="triangle"></div>
            </div>

            <div class="to">
                to
            </div>
            <div class="date date_right">
                20/02/2015
                <div class="triangle"></div>
            </div>

        </div>
    </div>
    <div class="prices">
        <ul class="prices__list">
            <li class="prices__item">$150</li>
            <li class="prices__item">$140</li>
            <li class="prices__item">$130</li>
            <li class="prices__item">$120</li>
            <li class="prices__item">$110</li>
        </ul>
    </div>
    <div class="portfolio__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus libero ipsam, repellat debitis facilis vel, error ex officiis non nemo qui iste tempore in placeat voluptatum dolores distinctio exercitationem inventore. Facere dolorem aut ea numquam dicta maiores aperiam, repellat eum et nostrum fugiat natus blanditiis libero officiis, velit id, consequuntur recusandae incidunt? Recusandae esse aliquam ipsam tempora consequuntur, quidem quis quia enim quae quibusdam omnis commodi nostrum dignissimos mollitia quo eligendi. Quam et nesciunt fugiat consequuntur harum, quis maiores quae facere mollitia, at quos corporis, tempora ab adipisci asperiores nulla! Quisquam non debitis similique accusamus mollitia alias perferendis expedita, sed odit minima eaque consequatur suscipit quibusdam quo id deleniti facere rem facilis ipsum velit atque nemo error enim animi. Maxime </p>
    </div>
    <div class="bottom-date">
        <div class="arrow__left"></div>
        <ul class="bottom-date__list">
            <li class="bottom-date__item">JAN 21</li>
            <li class="bottom-date__item">JAN 22</li>
            <li class="bottom-date__item">JAN 23</li>
            <li class="bottom-date__item">JAN 24</li>
            <li class="bottom-date__item">JAN 25</li>
            <li class="bottom-date__item">JAN 26</li>
            <li class="bottom-date__item">JAN 27</li>
        </ul>
        <div class="arrow__right"></div>
    </div>

</div>