.axis {
    font: 14px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #d6210e;
    shape-rendering: crispEdges;
}

.axis path, .axis line{
    display: none;
}

.axis-y {

}

.axis-y text {
    font-size: 14px;
    fill: #546a79;
}

.axis-x text {
    font-size: 14px;
    fill: #4d5664;
    font-weight: bold;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.area {
    fill: url(#gradient);
}

.dot-show {
    stroke: #4f5f6f;
    stroke-width: 5px;
    fill: #fff;
    opacity: 1;
}

.dot-hide {
    opacity: 0;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}