<input type="checkbox" id="checkbox"/>
<label for="checkbox" class="burger-icon"></label>

<div class="sidebar">
    <div class="logo">
        <div class="fin">
            Fin
        </div>
        <div class="dash">
            dash
        </div>
    </div>
    <div class="menu">
        <ul class="menu__list">
            <li class="menu__item">
                <img src="/img/1.png" alt="" class="menu__icon">
                <a href="#" class="menu__link">
                    Analytics
                </a>
            </li>
            <li class="menu__item">
                <img src="/img/2.png" alt="" class="menu__icon">
                <a href="#" class="menu__link">
                    Top Stocks
                </a>
            </li>
            <li class="menu__item">
                <img src="/img/3.png" alt="" class="menu__icon">
                <a href="#" class="menu__link">
                    Trading
                </a>
            </li>
            <li class="menu__item">
                <img src="/img/4.png" alt="" class="menu__icon">
                <a href="#" class="menu__link">
                    Funds
                </a>
            </li>
            <li class="menu__item">
                <img src="/img/5.png" alt="" class="menu__icon">
                <a href="#" class="menu__link">
                    Forum
                </a>
            </li>
            <li class="menu__item">
                <img src="/img/6.png" alt="" class="menu__icon">
                <a href="#" class="menu__link">
                    Support
                </a>
            </li>
            <li class="menu__item">
                <img src="/img/7.png" alt="" class="menu__icon">
                <a href="#" class="menu__link">
                    News
                    <span class="news__count">
                               2
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <footer>
        © 2015 IMRAN KHAN
    </footer>
</div>