<header class="header">
    <div class="header__left">
        <div class="search">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" name="search" class="search__input" placeholder="Search.. ">
        </div>
    </div>
    <div class="header__right">
        <div class="user__avatar">
            <img src="/img/avatar.jpg" alt="avatar" class="user__avatar-img">
        </div>
        <div class="user__name">
            <span class="name">John Doe</span>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        <div class="logout">
            <span class="logout__text">Logout</span>
        </div>
    </div>
</header>