<div class="market-trends">
    <div class="market-trends__head">
        <div class="title portfolio__title">
            MARKET TRENDS
        </div>
        <div class="period">
            THIS WEEK
            <div class="triangle"></div>
        </div>
    </div>
    <div class="equity">
        <div class="total">
            $506700
        </div>
        <div class="equity__content">
            TOTAL EQUITY
        </div>
    </div>
    <div class="debt">
        <div class="total">
            $45000
        </div>
        <div class="debt__content">
            TOTAL DEBT
        </div>
    </div>
    <div class="market-trends__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati officia cumque, suscipit enim mollitia repudiandae ipsum, iste reiciendis quas est reprehenderit eveniet rerum sit eius modi quod, alias nisi incidunt.
    </div>
    <div class="market-trends__bottom-date ">
        <ul class="bottom-date__list-market-trends">
            <li class="bottom-date__item">21</li>
            <li class="bottom-date__item">22</li>
            <li class="bottom-date__item">23</li>
            <li class="bottom-date__item">24</li>
            <li class="bottom-date__item">25</li>
            <li class="bottom-date__item">26</li>
            <li class="bottom-date__item">27</li>
        </ul>
    </div>
</div>