<div class="market-trends">
    <div class="market-trends__head">
        <div class="title portfolio__title">
            MARKET TRENDS
        </div>
        <div class="period">
            THIS WEEK
            <div class="triangle"></div>
        </div>
    </div>
    <div class="equity">
        <div class="total">
            $506700
        </div>
        <div class="equity__content">
            TOTAL EQUITY
        </div>
    </div>
    <div class="debt">
        <div class="total">
            $45000
        </div>
        <div class="debt__content">
            TOTAL DEBT
        </div>
    </div>
    <div class="market-trends__content">
        <market-trends-chart></market-trends-chart>
    </div>
</div>