<div class="recent-activity">
    <div class="recent-activity__head">
        <div class="portfolio__title">
            RECENT ACTIVITY
        </div>
    </div>
    <ul class="activity__list">
        <li class="activity__item">
            <div class="activity__item-left">
                <div class="activity__img">
                    <img src="/img/activity-icon.png" alt="" class="activity__icon">
                </div>
                <div class="activity__text">
                    Your deposit has updated to: Paid $1950
                </div>
                <div class="activity__time">
                    34 MINUTES AGO
                </div>
            </div>
            <div class="activity__item-right">
                <i class="fa fa-star active-star" aria-hidden="true"></i>
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
        </li>
        <li class="activity__item">
            <div class="activity__item-left">
                <div class="activity__img">
                    <img src="/img/activity-icon.png" alt="" class="activity__icon">
                </div>
                <div class="activity__text">
                    Your withdrawal of $50000 has been procecced
                </div>
                <div class="activity__time">
                    2 DAYS AGO
                </div>
            </div>
            <div class="activity__item-right">
                <i class="fa fa-star " aria-hidden="true"></i>
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
        </li>
        <li class="activity__item">
            <div class="activity__item-left">
                <div class="activity__img">
                    <img src="/img/activity-icon.png" alt="" class="activity__icon">
                </div>
                <div class="activity__text">
                    You sold 10 Stocks of 1000 shareds - ABC company
                </div>
                <div class="activity__time">
                    1 WEEK AGO
                </div>
            </div>
            <div class="activity__item-right">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </div>
        </li>
    </ul>
    <div class="sell">
        SELL ALL
    </div>
</div>